.diy-goods-information-title {
    font-weight: bold;
    font-size: 1.4rem;
    padding-top: 1rem;
    color: #333333;
}

.diy-goods-information-hospital {
    color: #999999;
    padding: 1rem 15px;
}

.diy-goods-information-limit-time-sales {
    padding: 1rem 15px;
    color: #FC58AE;
}

.diy-goods-information-feature {
    padding: 0.8rem 0;
}

.diy-goods-categories-title {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.diy-goods-categories-radio {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: auto;
}

.diy-goods-categories-radio {
    border: #cccccc solid 1px;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    color: #666666;
}

.diy-goods-categories-radio-input {
    display: none;
}

.diy-goods-categories-user-must-know {
    background-color: #61C2FF;
    font-size: 0.5rem;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.5rem;
    color: #FFFFFF;
    text-align: center;
    padding: 0.5rem 0;
}

.diy-goods-categories-bottom-bar {
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.8rem;
    padding: 0.6rem 0;
    z-index: 99;
    border-top: solid 1px #ececec
}