<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">意向分类标签管理</h1>
</div>
<div class="wrapper-md" ng-controller="StatisticIntentionKindsCtrl">
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <!-- / toaster directive -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">添加标签</div>
                <div class="panel-body">
                    <form role="form" ng-submit="addTips()">
                        <div class="form-group">
                            <label>意向分类标签</label>
                            <input type="text" class="form-control" placeholder="意向分类名" ng-model="tipsForAdd">
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary">添加</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            意向分类标签列表
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <tbody>
                <tr ng-repeat="x in tips">
                    <td>{{x.label}}</td>
                    <td ng-click="deleteTips(x)" style="width: 30px">
                        <a href>
                            <i class="fa fa-times text-danger text"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>