<link href="modules/verify/css/verify.css" rel="stylesheet">

<div id="confirmDialogContainer" class="app-grey-dialog-container" style="display: block;" ng-show="showVerify">
    <div class="verify-bank-verifyCode-dialog">
        <div class="container">
            <div class="text-center row app-padding-one" style="font-size: 1.4rem">
                <div class="col-xs-10 text-left">
                    手机短信验证码已发送
                </div>
                <div class="col-xs-2 text-right" ng-click="hideVerifyCode()">
                    <span class="fa fa-times fa-lg"></span>
                </div>

            </div>
            <hr class="app-bootstrap-hr">

            <div class="row app-padding-one" style="border-radius: 5px;border: 1px solid #ccc;margin: 1rem;">
                <div class="col-xs-8">
                    <input placeholder="请输入验证码" ng-model="verifyCode">
                </div>
                <div class="col-xs-4 text-center app-bootstrap-padding-zero app-grey-text" style="border-left: 1px solid #ccc"
                     ng-click="reSendVerifyCode()">
                    {{codeTips}}
                </div>
            </div>

            <hr class="app-bootstrap-hr">
            <div class="row text-center app-pink-text" style="font-size: 1.8rem;padding: 1rem" ng-click="submitSecondInfoWithCode()">
                确定
            </div>
        </div>
    </div>
</div>

<!--步骤一：联系方式-->
<div class="app-grey-background-container container" ng-if="status==1">

    <div class="row">
        <img src="modules/verify/img/fast-first.png" style="width: 100%">
    </div>

    <form ng-submit="submitFirstInfo()">

        <div class="row verify-fast-title" style="font-weight: bold">
                公司信息
        </div>

        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">公司名称</label>
            <input type="text" ng-model="$parent.company_name" class="col app-white-input-text"
                   placeholder="如:杭州优呗网络科技有限公司"
                   required>
        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">公司电话</label>
            <input type="text" ng-model="$parent.company_telphone" class="col app-white-input-text"
                   placeholder="如:0571-56887778" ng-maxlength="15" ng-minlength="7"
                   required>
        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">职务</label>
            <input type="text" ng-model="$parent.company_position" class="col app-white-input-text" placeholder="如:销售主管"
                   required>
        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">公司地址</label>
            <input type="text" ng-model="$parent.company_addr" class="col app-white-input-text"
                   placeholder="如:杭州市西湖区华星时代广场B座403室" required>
        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">本人住址</label>
            <input type="text" ng-model="$parent.address" class="col app-white-input-text"
                   placeholder="如:杭州市西湖区X小区X幢X单元X号" required>
        </div>

        <div class="row verify-fast-title" style="font-weight: bold">
                个人关系
        </div>

        <div class="row">
            <div class="app-white-input app-margin-top-two-px col-xs-6" style="padding: 1rem 0;padding-left: 1rem">
                <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">姓名</label>
                <input type="text" ng-model="$parent.name" class="col app-white-input-text" placeholder="如:父/母姓名"
                       required>
            </div>

            <div class="app-white-input app-margin-top-two-px col-xs-6" style="padding: 1rem 0">
                <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">关系</label>
                <input type="text" ng-model="$parent.relation" class="col app-white-input-text" placeholder="如:母子"
                       required>
            </div>
        </div>


        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">手机号</label>
            <input type="text" ng-model="$parent.telphone" ng-pattern="/^[1]\d{10}$/" class="col app-white-input-text" placeholder="如:157****7596"
                   required>
        </div>

        <div class="row verify-fast-title" style="font-weight: bold">
                您的信用卡/储蓄卡
        </div>


        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">卡号</label>
            <input type="text" ng-model="$parent.bankcardcode" class="col app-white-input-text"
                   placeholder="如:6221 5555 8888 9999" required>
        </div>


        <label style="display: block;padding-bottom: 2rem">
            <div class="app-padding-one text-center"
                 ng-class="{true:'app-little-pink-radius-button',false:'app-pink-radius-button'}[!$parent.company_name || !$parent.company_telphone|| !$parent.company_position|| !$parent.company_addr|| !$parent.address|| !$parent.name|| !$parent.relation|| !$parent.telphone|| !$parent.bankcardcode]">
                下一步
            </div>
            <button type="submit" style="display: none"></button>
        </label>

    </form>

</div>


<!--步骤二：资料认证-->
<div class="app-grey-background-container container" ng-if="status==2">

    <div class="row">
        <img src="modules/verify/img/fast-second.png" style="width: 100%">
    </div>

    <div class="app-white-input row app-margin-top-two-px">
        <label class="col-xs-12 app-bootstrap-padding-zero">上传身份证正反面（清晰可见）</label>
        <div class="col-xs-6 app-padding-one" ng-click="uploadFrontIdentityPic()" style="position: relative">
            <img src="modules/verify/img/fast-second-add.png" id="frontIdentityPic" style="width: 100%">
            <img src="modules/verify/img/bank-delete.png" ng-if="!!$parent.frontIdentityMediaId"
                 style="position: absolute;top: 2rem;right: 2rem" ng-click="deleteImgFront()">
        </div>
        <div class="col-xs-6 app-padding-one" ng-click="uploadBackIdentityPic()" style="position: relative">
            <img src="modules/verify/img/fast-second-add.png" id="backIdentityPic" style="width: 100%">
            <img src="modules/verify/img/bank-delete.png" ng-if="!!$parent.backIdentityMediaId"
                 style="position: absolute;top: 2rem;right: 2rem" ng-click="deleteImgBack()">
        </div>
    </div>


    <div class="app-white-input row" style="margin-top: 10px">
        <label class="col-xs-12 app-bootstrap-padding-zero">上传工作证明信息（清晰可见）</label>
        <div class="col-xs-6 app-padding-one" ng-click="uploadWorkProvePic()" style="position: relative">
            <img src="modules/verify/img/fast-second-add.png" id="workProvePic" style="width: 100%">
            <img src="modules/verify/img/bank-delete.png" ng-if="!!$parent.workProveMediaId"
                 style="position: absolute;top: 2rem;right: 2rem" ng-click="deleteImgWork()">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 app-padding-one" style="color: #fb2282;">
            <img src="modules/verify/img/fast-second-tips.png" style="width: 1rem;padding-bottom: 0.25rem">
            提醒:上传名片/工牌/信用卡/社保信息/手持纸质同意书照片。额度更高哦！
        </div>
    </div>

    <div class="row app-padding-one" style="background-color: white">
        <div class="col-xs-6">
            <img style="width: 100%" src="modules/verify/img/fast-templete.jpg">
        </div>
        <div class="col-xs-6">
            <div class="app-padding-one" style="font-weight: bold;font-size: 1.2rem">
                手持承诺书正面
            </div>
            <div>
                <p>
                    手持承诺书所有信息清晰可见
                </p>
                <p>
                    本人的五官清晰可见，照片内容真实有效，不得做任何修改
                </p>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 app-padding-one app-grey-text">
            手机信息认证将收集您手机号码的基本信息、通话记录、亲密联系人等信息，运营商会发短信告知您。这是正常的验证过程，我们不会泄露您的信息
        </div>

    </div>

    <div class="app-white-input row app-margin-top-two-px">
        <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">手机号</label>
        <input type="text" ng-model="$parent.myTelephone" class="col app-white-input-text"
               placeholder="你的手机号">
    </div>

    <div class="app-white-input row app-margin-top-two-px">
        <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">服务码</label>
        <input type="text" ng-model="$parent.serviceCode" class="col app-white-input-text"
               placeholder="手机服务码">
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3 class="app-padding-one">移动用户：</h3>
            <p class=" app-grey-text">拨打10086获取你的手机服务密码</p>
            <h3 class="app-padding-one">联通用户：</h3>
            <p class=" app-grey-text">拨打10010获取你的手机服务密码</p>
            <h3 class="app-padding-one">电信用户：</h3>
            <p class=" app-grey-text">拨打10001获取你的手机服务密码</p>
        </div>
    </div>

    <label style="display: block;padding-bottom: 2rem">
        <div class="app-padding-one text-center" ng-click="submitSecondInfo()"
             ng-class="{true:'app-little-pink-radius-button',false:'app-pink-radius-button'}[!$parent.backIdentityMediaId ||!$parent.frontIdentityMediaId||(!$parent.workProveMediaId && !(!!$parent.myTelephone && !!$parent.serviceCode))]">
            下一步
        </div>
    </label>

</div>

<!--步骤三：其他信息-->

<div class="app-grey-background-container container" ng-if="status==3">

    <div class="row">
        <img src="modules/verify/img/fast-third.png" style="width: 100%">
    </div>

    <form ng-submit="submitThirdInfo()">
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-label">1.是否办过银行信用卡</label>
            <div class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-check-area">
                <label ng-class="{true: 'verify-fast-checked', false: 'verify-fast-unchecked',undefined:'verify-fast-unchecked'}[$parent.isCreditCard]">
                    <span>是</span>
                    <input type="radio" name="is_credit_card" ng-model="$parent.isCreditCard" value="true">
                </label>
                <label ng-class="{true: 'verify-fast-unchecked', false: 'verify-fast-checked',undefined:'verify-fast-unchecked'}[$parent.isCreditCard]"
                       style="padding-left: 1rem">
                    <span>否</span>
                    <input type="radio" name="is_credit_card" ng-model="$parent.isCreditCard" value="false">
                </label>
            </div>

        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-label">2.是否办过贷款</label>
            <div class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-check-area">
                <label ng-class="{true: 'verify-fast-checked', false: 'verify-fast-unchecked',undefined:'verify-fast-unchecked'}[$parent.isLoan]">
                    <span>是</span>
                    <input type="radio" name="is_loan" ng-model="$parent.isLoan" value="true">
                </label>
                <label ng-class="{true: 'verify-fast-unchecked', false: 'verify-fast-checked',undefined:'verify-fast-unchecked'}[$parent.isLoan]"
                       style="padding-left: 1rem">
                    <span>否</span>
                    <input type="radio" name="is_loan" ng-model="$parent.isLoan" value="false">
                </label>
            </div>
        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-label">3.是否有过股票、基金等投资</label>
            <div class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-check-area">
                <label ng-class="{true: 'verify-fast-checked', false: 'verify-fast-unchecked',undefined:'verify-fast-unchecked'}[$parent.isInvestment]">
                    <span>是</span>
                    <input type="radio" name="is_investment" ng-model="$parent.isInvestment" value="true">
                </label>
                <label ng-class="{true: 'verify-fast-unchecked', false: 'verify-fast-checked',undefined:'verify-fast-unchecked'}[$parent.isInvestment]"
                       style="padding-left: 1rem">
                    <span>否</span>
                    <input type="radio" name="is_investment" ng-model="$parent.isInvestment" value="false">
                </label>
            </div>
        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-label">4.是否有车辆行驶证</label>
            <div class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-check-area">
                <label ng-class="{true: 'verify-fast-checked', false: 'verify-fast-unchecked',undefined:'verify-fast-unchecked'}[$parent.isDriving]">
                    <span>是</span>
                    <input type="radio" name="is_driving" ng-model="$parent.isDriving" value="true">
                </label>
                <label ng-class="{true: 'verify-fast-unchecked', false: 'verify-fast-checked',undefined:'verify-fast-unchecked'}[$parent.isDriving]"
                       style="padding-left: 1rem">
                    <span>否</span>
                    <input type="radio" name="is_driving" ng-model="$parent.isDriving" value="false">
                </label>
            </div>
        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-label">5.是否有个人房产</label>
            <div class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-check-area">
                <label ng-class="{true: 'verify-fast-checked', false: 'verify-fast-unchecked',undefined:'verify-fast-unchecked'}[$parent.isHouse]">
                    <span>是</span>
                    <input type="radio" name="is_house" ng-model="$parent.isHouse" value="true">
                </label>
                <label ng-class="{true: 'verify-fast-unchecked', false: 'verify-fast-checked',undefined:'verify-fast-unchecked'}[$parent.isHouse]"
                       style="padding-left: 1rem">
                    <span>否</span>
                    <input type="radio" name="is_house" ng-model="$parent.isHouse" value="false">
                </label>
            </div>
        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-12 app-bootstrap-padding-zero">6.每月收入</label>
        </div>


        <div class="app-white-input row">
            <div class="col-xs-12 app-bootstrap-padding-zero" style="font-size: 1.2rem;margin-top: 0.5rem">
                <div class="col-xs-12">
                    <label  ng-class="{true: 'verify-fast-radio-checked', false: 'verify-fast-radio-unchecked'}[$parent.monthlyIncome==0]">
                        <span>3千以下</span>
                        <input type="radio" name="monthly_income" ng-model="$parent.monthlyIncome" value="0" required>
                    </label>

                    <label ng-class="{true: 'verify-fast-radio-checked', false: 'verify-fast-radio-unchecked'}[$parent.monthlyIncome==1]"
                           style="padding-left: 1rem">
                        <span>3千-5千</span>
                        <input type="radio" name="monthly_income" ng-model="$parent.monthlyIncome" value="1" required>
                    </label>
                    <label ng-class="{true: 'verify-fast-radio-checked', false: 'verify-fast-radio-unchecked'}[$parent.monthlyIncome==2]"
                           style="padding-left: 1rem">
                        <span>5千-1万</span>
                        <input type="radio" name="monthly_income" ng-model="$parent.monthlyIncome" value="2" required>
                    </label>
                </div>

            </div>

            <div class="col-xs-12 app-bootstrap-padding-zero" style="font-size: 1.2rem">
                <div class="col-xs-12" style="margin-top: 2rem;margin-bottom: 1rem">
                    <label ng-class="{true: 'verify-fast-radio-checked', false: 'verify-fast-radio-unchecked'}[$parent.monthlyIncome==3]">
                        <span>1万-2万</span>
                        <input type="radio" name="monthly_income" ng-model="$parent.monthlyIncome" value="3" required>
                    </label>
                    <label ng-class="{true: 'verify-fast-radio-checked', false: 'verify-fast-radio-unchecked'}[$parent.monthlyIncome==4]"
                           style="padding-left: 1rem">
                        <span>2万以上</span>
                        <input type="radio" name="monthly_income" ng-model="$parent.monthlyIncome" value="4" required>
                    </label>
                </div>
            </div>

        </div>

        <label style="display: block;padding-bottom:  2rem">
            <div class="app-padding-one text-center"
                 ng-class="{true:'app-little-pink-radius-button',false:'app-pink-radius-button'}[!$parent.monthlyIncome]">
                提交
            </div>
            <button type="submit" style="display: none"></button>
        </label>

    </form>


</div>