<div class="container app-grey-background-container">
    <form ng-submit="verifyRealName()">
        <div class="row text-center" style="font-size: 1.4rem;padding: 1.7rem">
            额度申请需要实名认证哦！
        </div>
        <div class="app-white-input row">
            <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">姓名</label>
            <input class="col app-white-input-text" ng-model="userName" type="text" placeholder="如：张三" required>
        </div>

        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">身份证号</label>
            <input type="text" ng-model="identitycode" class="col app-white-input-text" placeholder="如：330183199308241234" required>
        </div>

        <div class="app-white-input row app-margin-top-one">
            <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">验证码</label>
            <input type="text" ng-model="imgCode" class="app-white-input-text" placeholder="输入图形验证码" style="width: 50%" required>
            <img id="verifyCodeImg" src="/appinterface/image" class="app-white-input-label app-very-blue-text" style="width: 25%" ng-click="getImgVerifyCode()">
        </div>

        <label style="display: block;">
            <div class="app-little-pink-radius-button app-padding-one text-center">
                下一步
            </div>
            <button type="submit" style="display: none"></button>
        </label>
    </form>
</div>