.pay-white-radius-input {
    background-color: #FFFFFF;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.pay-pink-radius-button {
    background-color: #FB1788;
    color: #FFFFFF;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.pay-choose-pay-way-radio-area {
    bottom: 0;
    position: fixed;
    background-color: #FFFFFF;
    width: 100%
}

.pay-choose-pay-way-dialog-row {
    padding: 2rem;
}

.pay-choose-pay-way-dialog-row > div > img {
    width: 2rem;
}