<link rel="stylesheet" href="modules/list/css/list.css?t=3">

<div class="container">

    <!--App bar For GoodsList-->
    <div class="row app-bar text-center">
        <div class="col-xs-1" style="width: 15%" ng-click="goBack()"><i class="fa fa-angle-left fa-2x"></i></div>
        <div style="position: relative" ng-click="">
            <img src="img/topbar/search-icon.png" class="app-bar-search-icon"
                 style="left: 19%">
            <form>
                <input class="app-bar-search-frame col-xs-9" style="width: 82%" id="search" placeholder="瘦脸针"
                       type="search" ng-keyup="search($event)" ng-model="searchContent">
                <img src="img/topbar/cancel-icon.png" class="app-bar-search-icon"
                     style="right: 12%;" ng-show="">
            </form>
        </div>
    </div>


    <div>
        <!--排序选择框-->
        <div class="row list-sort-bar-border list-sort-bar-toolbar">

            <!--排序分类-->
            <div class="col-xs-4" ng-click="(selectState==1) ? (selectState=0) : (selectState=1)">
                <div ng-show="selectState == 1" style="color: #FC58AE">
                    全部医院 <i class="fa fa-angle-up"></i>
                </div>
                <div ng-hide="selectState == 1">
                    全部医院 <i class="fa fa-angle-down"></i>
                </div>
            </div>
            <div class="row list-sort-bar-list-view" ng-show="selectState == 1">
                <div class="col-xs-12" style="background-color: #FFFFFF;height: auto;text-align: left;z-index: 2">
                    <div style="padding: 1rem">
                        全部医院
                    </div>
                    <hr class="app-bootstrap-hr">
                    <div style="padding: 1rem">
                        杭州美莱医疗整形医院
                    </div>
                    <hr class="app-bootstrap-hr">
                    <div style="padding: 1rem">
                        杭州华山医疗美容医院
                    </div>
                    <hr class="app-bootstrap-hr">
                    <div style="padding: 1rem">
                        杭州时光医疗美容医院
                    </div>
                    <hr class="app-bootstrap-hr">
                    <div style="padding: 1rem">
                        杭州格莱美医疗美容医院
                    </div>
                    <hr class="app-bootstrap-hr">
                </div>
                <div class="list-sort-bar-list-view-background" style="z-index: 1" ng-click="selectState=0">
                </div>
            </div>


            <!--项目分类-->
            <div class="col-xs-4" ng-click="(selectState==2) ? (selectState=0) : (selectState=2)">
                <div ng-show="selectState == 2" style="color: #FC58AE">
                    全部类目 <i class="fa fa-angle-up"></i>
                </div>
                <div ng-hide="selectState == 2">
                    全部类目 <i class="fa fa-angle-down"></i>
                </div>
            </div>
            <div class="row list-sort-bar-list-view" ng-show="selectState == 2">
                <div style="height: 50%;background-color: white">
                    <div class="col-xs-4 list-sort-bar-subject">
                        <div style="padding: 1rem" ng-repeat="x in projects" ng-click="setItems(x.items)">
                            {{x.project}}
                        </div>
                    </div>
                    <div class="col-xs-8 list-sort-bar-items">
                        <div style="padding: 1rem" ng-repeat="key in items">
                            {{key}}
                        </div>
                    </div>
                </div>

                <div class="list-sort-bar-list-view-background" style="z-index: 1" ng-click="selectState=0">
                </div>
            </div>


            <!--排序分类-->
            <div class="col-xs-4" ng-click="(selectState==3) ? (selectState=0) : (selectState=3)">
                <div ng-show="selectState == 3" style="color: #FC58AE">
                    智能排序 <i class="fa fa-angle-up"></i>
                </div>
                <div ng-hide="selectState == 3">
                    智能排序 <i class="fa fa-angle-down"></i>
                </div>
            </div>
            <div class="row list-sort-bar-list-view" ng-show="selectState == 3">
                <div class="col-xs-12" style="background-color: #FFFFFF;height: auto;text-align: left;z-index: 2">
                    <div style="padding: 1rem">
                        销量最高
                    </div>
                    <hr class="app-bootstrap-hr">
                    <div style="padding: 1rem">
                        价格最低
                    </div>
                    <hr class="app-bootstrap-hr">
                    <div style="padding: 1rem">
                        最新上架
                    </div>
                    <hr class="app-bootstrap-hr">
                </div>
                <div class="list-sort-bar-list-view-background" style="z-index: 1" ng-click="selectState=0">
                </div>
            </div>

        </div>
    </div>


    <!--列表开始-->
    <div style="margin-top: 6.9rem">
        <div class="row app-project-container">
            <div class="col-xs-5">
                <img src="modules/index/img/temp-thumbnail.jpg" width="100%">
            </div>
            <div class="col-xs-7 app-project-content">
                <div class="double-line index-hot-project-title">
                    【上海海薇玻尿酸注射整形】 海薇玻尿酸 限时不限购 疯狂变美丽节日盛典
                </div>
                <div class="single-line app-project-hospital">
                    华山整形医院
                </div>
                <div class="col-xs-12 text-left app-project-price-area">
                    <div class="col-xs-4 app-blue-text" style="padding: 0">
                        <span style="font-size: 1.2rem">￥</span><span
                            style="font-size: 2rem;line-height: 2.6rem">887</span>
                    </div>
                    <div class="col-xs-4 text-left" style="padding: 0">
                        <span class="grey-text app-project-original-price">￥6645</span>
                    </div>
                    <div class="col-xs-4 text-center" style="padding: 0;font-size: 0.7rem;margin-top:0.5rem">
                        <div class="col-xs-12" style="padding: 0;">
                            <div class="app-project-yellow-background-radius col-xs-6">已售</div>
                            <div class="app-project-yellow-text-radius col-xs-6">4442</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="app-bootstrap-hr">
    </div>

    <div>
        <div class="row app-project-container">
            <div class="col-xs-5">
                <img src="modules/index/img/temp-thumbnail.jpg" width="100%">
            </div>
            <div class="col-xs-7 app-project-content">
                <div class="double-line index-hot-project-title">
                    【上海海薇玻尿酸注射整形】 海薇玻尿酸 限时不限购 疯狂变美丽节日盛典
                </div>
                <div class="single-line app-project-hospital">
                    华山整形医院
                </div>
                <div class="col-xs-12 text-left app-project-price-area">
                    <div class="col-xs-4 app-blue-text" style="padding: 0">
                        <span style="font-size: 1.2rem">￥</span><span
                            style="font-size: 2rem;line-height: 2.6rem">887</span>
                    </div>
                    <div class="col-xs-4 text-left" style="padding: 0">
                        <span class="grey-text app-project-original-price">￥6645</span>
                    </div>
                    <div class="col-xs-4 text-center" style="padding: 0;font-size: 0.7rem;margin-top:0.5rem">
                        <div class="col-xs-12" style="padding: 0;">
                            <div class="app-project-yellow-background-radius col-xs-6">已售</div>
                            <div class="app-project-yellow-text-radius col-xs-6">4442</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="app-bootstrap-hr">
    </div>

</div>