<link rel="stylesheet" href="modules/categories/css/categories.css">

<!--<div class="container">-->
<!--&lt;!&ndash;App bar For goods details&ndash;&gt;-->
<!--<div class="row app-bar text-center">-->
<!--<div class="col-xs-12 app-title-bar">项目</div>-->
<!--</div>-->
<!--</div>-->

<div style="width: 100%;position: fixed;height:100%;left: 0;z-index:999" ng-if="!categories.data  && !loadError">
    <div style="top: 45%;position: absolute;width: 100%;left: 45%">
        <img src="img/loading/loadingOuter.png" class="fa fa-spin" style="width: 10%">
    </div>
    <div style="top: 45%;position: absolute;width: 100%;left: 45%">
        <img src="img/loading/loadingInner.png" style="width: 10%">
    </div>
</div>

<div class="container">


    <div class="row text-center" style="color: #333333">
        <!--项目分类-->
        <div class="col-xs-12" style="margin: 1rem 0" ng-click="(selectState==1) ? (selectState=0) : (selectState=1)">
            <div ng-show="selectState == 1" style="color: #FC58AE">
                {{nowProject}} <i class="fa fa-angle-up"></i>
            </div>
            <div ng-hide="selectState == 1">
                {{nowProject}} <i class="fa fa-angle-down"></i>
            </div>
        </div>
    </div>

    <div class="row categories-sort-bar-list-view" ng-show="selectState == 1">
        <div style="height: 36%;background-color: white">
            <div class="col-xs-12 categories-sort-bar-subject">
                <div style="padding-top: 1rem;padding-left: 1rem" ng-click="setAll()">
                    全部类目<span ng-if="filterProject == ''" class="fa fa-check text-right fa-lg"
                              style="position: absolute;right: 1rem"></span>
                    <hr class="app-bootstrap-hr-no-match" style="margin-top: 1rem;margin-left: -1rem">
                </div>
                <div style="padding-top: 1rem;padding-left: 1rem"
                     ng-repeat="x in categories.data.categoryListResponse.categoryList"
                     ng-click="setItems(x.categoryName)">
                    {{x.categoryName}}
                    <span ng-if="filterProject == x.categoryName" class="fa fa-check text-right fa-lg"
                          style="position: absolute;right: 1rem"></span>
                    <hr class="app-bootstrap-hr-no-match" style="margin-top: 1rem;margin-left: -1rem">
                </div>
            </div>
        </div>

        <div class="categories-sort-bar-list-view-background" style="z-index: 1" ng-click="selectState=0">
        </div>
    </div>

</div>

<div class="container categories-project-container"
     ng-repeat="x in categories.data.categoryListResponse.categoryList  | filter: {categoryName: filterProject}">

    <div class="categories-project-title"
         ng-click="jumpTo('#/list?parentId='+x.categoryId+'&parentName='+x.categoryName)">
        {{x.categoryName}}<i class="fa fa-angle-right fa-lg" style="position: absolute;right: 2rem"></i>
    </div>

    <div class="row categories-project-projects">
        <div class="col-xs-4" ng-repeat="key in x.categoryList"
             ng-click="jumpTo('#/list?parentId='+x.categoryId+'&parentName='+x.categoryName+'&subId='+key.categoryId+'&subName='+key.categoryName)">
            {{key.categoryName}}
        </div>
    </div>

</div>
