/* app css stylesheet */

html body {
    height: 100%;
    position: relative;
    font-family: "Arial","Microsoft JhengHei","Adobe Fan Heiti Std B";
}

body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    font-size: 1rem;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
header,
p,
blockquote,
pre,
address,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
input,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
}

.single-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.double-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.app-bar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0.5rem 0;
    background-color: #FFFFFF;
    z-index: 999;
    border-bottom: solid rgb(202, 202, 202) 1px;
}

.app-bar>div>i{
    padding-top: 0.3rem;
}

.app-bar-search-frame {
    background: #f0f0f0;
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    padding: 0.6rem 0;
    font-size: 1rem;
    border: 0;
    outline: none;
    text-indent: 2.8rem;
    mso-text-indent-alt: 2.8rem;
}

.app-bar-search-icon {
    position: absolute;
    z-index: 10;
    top: 0.7rem;
    width: 1.2rem
}

.app-project-container {
    background-color: #FFFFFF;
    padding-top: 1rem;
    padding-bottom: 1rem
}

.app-project-hospital {
    color: #b1b1b1;
    font-size: 1rem;
    padding-top: 0.1rem;
}

.app-project-title {
    color: rgb(51, 51, 51);
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5rem;
    height: 3rem;
}

.app-project-content {
    padding-left: 0;
    padding-right: 0.5rem;
    position: relative;
}

.app-project-original-price {
    line-height: 2.9rem;
    text-decoration: line-through;
    font-size: 1.4rem;
    color: #b1b1b1;
}

.app-project-price-area {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0;
    bottom: 0.4rem;
    width: 70%;
}

.app-project-yellow-background-radius {
    background-color: rgb(255, 185, 36);
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    -webkit-border-top-left-radius: 0.2rem;
    -webkit-border-bottom-left-radius: 0.2rem;
    color: #FFFFFF;
    padding: 0.2rem;
    font-size: 1rem;
}

.app-project-yellow-text-radius {
    background-color: #FFFFFF;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    -webkit-border-top-right-radius: 0.2rem;
    -webkit-border-bottom-right-radius: 0.2rem;
    font-size: 1rem;
    color: rgb(255, 185, 35);
    padding: 0.10rem;
    border: solid rgb(255, 185, 35) 0.1rem;
}

.app-project-blue-background-radius {
    background-color: #61C2FF;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    -webkit-border-top-left-radius: 0.2rem;
    -webkit-border-bottom-left-radius: 0.2rem;
    color: #FFFFFF;
    padding: 0.2rem;
}

.app-title-bar {
    font-size: 1.6rem;
    line-height: 2.5rem
}

.app-blue-text {
    color: #61C2FF;
}

.app-grey-text {
    color: #999999;
}

.app-pink-text {
    color: rgb(251, 23, 135);
}

.app-yellow-text{
    color: #FF8D13;
}

.app-padding-one {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.app-margin-top-one{
    margin-top: 1rem;
}

.app-pink-bottom-bar {
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.8rem;
    padding: 0.6rem 0;
    z-index: 99;
    border-top: solid 1px #ececec
}

.app-grey-dialog-container {
    height: 100%;
    width: 100%;
    z-index: 101;
    position: fixed;
    top:0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.app-pink-radius-button {
    background-color: #FB1788;
    color: #FFFFFF;
    margin-top: 1.7rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
}

.app-little-pink-radius-button {
    background-color: #F2AACF;
    color: #FFFFFF;
    margin-top: 1.7rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
}

.app-grey-background-container {
    background-color: #ECECEC;
    min-height: 100%;
}

.app-white-input {
    background-color: #FFFFFF;
    padding: 1rem 1rem;
    font-size: 1.4rem;
}

.app-white-input-text {
    width: 70%;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.app-white-input-label{
    width: 20%
}


/*swpier slide配置*/

/*.swiper-container {*/
    /*width: 100%!important;*/
    /*!*min-height: 100% !important;*!*/
    /*height: auto !important;*/
    /*margin-bottom: 0.5rem!important;*/
    /*position: relative!important;*/
/*}*/

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fb1787 !important;
}

/*bootstrap 补充*/


.app-bootstrap-hr {
    padding: 0;
    margin: 0 -15px;
    color: rgb(204, 204, 204);
}

.app-bootstrap-hr-no-match {
    padding: 0;
    margin: 0;
    color: rgb(204, 204, 204);
}

.app-bootstrap-grey-bold-hr {
    width: 100%;
    background-color: #F8F8F8;
    height: 1rem
}

.app-bootstrap-padding-zero {
    padding: 0;
}