<div style="width: 100%;position: fixed;height:100%;left: 0;z-index:999" ng-if="!bill.data && !loadError">
    <div style="top: 45%;position: absolute;width: 100%;left: 45%">
        <img src="img/loading/loadingOuter.png" class="fa fa-spin" style="width: 10%">
    </div>
    <div style="top: 45%;position: absolute;width: 100%;left: 45%">
        <img src="img/loading/loadingInner.png" style="width: 10%">
    </div>
</div>

<div style="background-color: #ECECEC;min-height: 100%;padding-bottom: 4.8rem">

    <!--<div class="container">-->
        <!--&lt;!&ndash;App bar For bill list&ndash;&gt;-->
        <!--<div class="row app-bar text-center">-->
            <!--<div class="col-xs-2" style="width: 15%" ng-click="goBack()"><i class="fa fa-angle-left fa-2x"></i></div>-->
            <!--<div class="col-xs-8 app-title-bar">提前还款</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="app-bootstrap-grey-bold-hr"></div>

    <!--for title-->
    <div style="background-color: #FFFFFF;">
        <div class="container">
            <div class="row">
                <div class="col-xs-10" style="line-height: 2.7rem;font-size: 1.6rem;padding-top: 1rem">
                    {{bill.data.billDetailResponse.goodsName}}
                </div>
                <div class="col-xs-2 text-right">
                    <img src="modules/bill/img/bill-using.png" style="width: 2.4rem">
                </div>
            </div>
            <div class="row" style="padding: 1rem 0">
                <div class="col-xs-6">
                    订单编号：{{bill.data.billDetailResponse.orderSn}}
                </div>
                <div class="col-xs-6 text-right">
                    {{bill.data.billDetailResponse.order_createTime}}
                </div>
            </div>
            <hr class="app-bootstrap-hr">
            <div class="row text-center" style="padding: 1rem">
                <div class="col-xs-4">
                    <div class="app-pink-text">
                        ￥{{bill.data.billDetailResponse.totalAmount | number:2}}
                    </div>
                    <div>
                        分期总额
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="app-blue-text">
                        {{bill.data.billDetailResponse.staging | number:0}}
                    </div>
                    <div>
                        分期数
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="app-pink-text">
                        ￥{{bill.data.billDetailResponse.monthService |number:2}}
                    </div>
                    <div>
                        每月服务费
                    </div>
                </div>
            </div>
            <hr class="app-bootstrap-hr">
        </div>
        <!--for one-->
        <div class="container" ng-repeat="x in bill.data.billDetailResponse.repaymentList">
            <label style="display: block">
                <input type="checkbox" style="display: none" ng-init="x.isChecked=false" ng-model="x.isChecked"
                       ng-change="countPrice(x)"  ng-disabled="{{!x.first}}">
                <div class="row" style="background-color: #FFFFFF;padding: 1rem 0">
                    <div class="col-xs-2">
                        <img style="width: 1.6rem;" src="modules/bill/img/bill-checked.png" ng-show="x.isChecked" ng-if="x.repayment_status!=1">
                        <img style="width: 1.6rem;" src="modules/bill/img/bill-unchecked.png" ng-hide="x.isChecked" ng-if="x.repayment_status!=1">
                    </div>
                    <div class="col-xs-3" style="padding: 0">
                        ￥{{x.repaymentAmount | number:2}}
                    </div>
                    <div class="col-xs-3" style="padding: 0">
                        ({{x.repayment_staging}}/{{bill.data.billDetailResponse.repaymentList.length}})期
                    </div>
                    <div class="col-xs-4" style="padding: 0">{{x.repayment_date}}{{x.repayment_status | billStatus}}</div>
                </div>
            </label>
            <hr class="app-bootstrap-hr">
        </div>
    </div>

    <div class="app-pink-bottom-bar">

        <div style="width: 60%;float: left;background-color: #FFFFFF;color: #000;margin: -0.6rem 0;height: 4.8rem;line-height: 4.8rem;text-align: left"
             ng-click="selectAll()">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <img style="width: 1.6rem;" src="modules/bill/img/bill-checked.png" ng-show="isSelectAll">
                        <img style="width: 1.6rem;" src="modules/bill/img/bill-unchecked.png" ng-hide="isSelectAll">
                    </div>
                    <div class="col-xs-4">
                        全选
                    </div>
                    <div class="col-xs-6">
                        ￥{{selectedPrice | number:2}}
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 40%;float: left;background-color: #fb1787;color: #FFFFFF;margin: -0.6rem 0;height: 4.8rem;line-height: 4.8rem;text-align: center"
             ng-click="goToPay()">
            还款
        </div>

    </div>
</div>