<div class="container app-grey-background-container">


    <div class="row">
        <div class="col-xs-12" style="font-size: 2rem;margin-top: 1.5rem">
            如何提升信用额度？
        </div>
        <div class="col-xs-12" style="font-size: 1.2rem;margin-top: .8rem">
            您可以提供（拍照上传）本人名下常用的银行卡最近3个月的流水明细，认证通过后，我们会为您增加相应的信用额度。（认证通过后不能再次认证）
        </div>


        <div class="col-xs-12" style="font-size: 2rem;margin-top: 1.5rem">
            如何获得银行流水单？
        </div>
        <div class="col-xs-12" style="font-size: 1.2rem;margin-top: .8rem">
            您可携带银行卡和身份证到附近银行柜台打印3个月的流水账单即可。（流水账单必须为柜台打印，需要带有银行盖章；要求流水字迹清晰、完整；打印时间为近一个月之内打印）
        </div>
    </div>

    <div class="row" style="margin-top: 2rem">
        <div class="col-xs-6 app-padding-one" ng-repeat="x in imgList" style="position: relative">
            <img id="{{x}}" style="width: 100%;">
            <img src="modules/verify/img/bank-delete.png" style="position: absolute;top: 2rem;right: 2rem" ng-click="deleteImg(x)">
        </div>
        <div class="col-xs-6 app-padding-one" ng-click="uploadImg()">
            <img src="modules/verify/img/bank-verify-add.png" style="width: 100%">
        </div>
    </div>

    <label style="display: block;margin-bottom: 2rem;">
        <div class="app-pink-radius-button app-padding-one text-center" ng-click="toVerifyBank()">
            提交
        </div>
        <button type="submit" style="display: none"></button>
    </label>

</div>