<div class="container">
    <div class="row">
        <img src="modules/verify/img/new/3.jpg" alt="第三步" style="width: 100%">
    </div>
</div>

<!--步骤三：其他信息-->

<div class="app-grey-background-container container" >

    <div class="row">
        <img src="modules/verify/img/fast-third.png" style="width: 100%">
    </div>

    <form ng-submit="submitThirdInfo()">
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-label">1.是否办过银行信用卡</label>
            <div class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-check-area">
                <label ng-class="{true: 'verify-fast-checked', false: 'verify-fast-unchecked',undefined:'verify-fast-unchecked'}[$parent.isCreditCard]">
                    <span>是</span>
                    <input type="radio" name="is_credit_card" ng-model="$parent.isCreditCard" value="true">
                </label>
                <label ng-class="{true: 'verify-fast-unchecked', false: 'verify-fast-checked',undefined:'verify-fast-unchecked'}[$parent.isCreditCard]"
                       style="padding-left: 1rem">
                    <span>否</span>
                    <input type="radio" name="is_credit_card" ng-model="$parent.isCreditCard" value="false">
                </label>
            </div>

        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-label">2.是否办过贷款</label>
            <div class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-check-area">
                <label ng-class="{true: 'verify-fast-checked', false: 'verify-fast-unchecked',undefined:'verify-fast-unchecked'}[$parent.isLoan]">
                    <span>是</span>
                    <input type="radio" name="is_loan" ng-model="$parent.isLoan" value="true">
                </label>
                <label ng-class="{true: 'verify-fast-unchecked', false: 'verify-fast-checked',undefined:'verify-fast-unchecked'}[$parent.isLoan]"
                       style="padding-left: 1rem">
                    <span>否</span>
                    <input type="radio" name="is_loan" ng-model="$parent.isLoan" value="false">
                </label>
            </div>
        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-label">3.是否有过股票、基金等投资</label>
            <div class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-check-area">
                <label ng-class="{true: 'verify-fast-checked', false: 'verify-fast-unchecked',undefined:'verify-fast-unchecked'}[$parent.isInvestment]">
                    <span>是</span>
                    <input type="radio" name="is_investment" ng-model="$parent.isInvestment" value="true">
                </label>
                <label ng-class="{true: 'verify-fast-unchecked', false: 'verify-fast-checked',undefined:'verify-fast-unchecked'}[$parent.isInvestment]"
                       style="padding-left: 1rem">
                    <span>否</span>
                    <input type="radio" name="is_investment" ng-model="$parent.isInvestment" value="false">
                </label>
            </div>
        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-label">4.是否有车辆行驶证</label>
            <div class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-check-area">
                <label ng-class="{true: 'verify-fast-checked', false: 'verify-fast-unchecked',undefined:'verify-fast-unchecked'}[$parent.isDriving]">
                    <span>是</span>
                    <input type="radio" name="is_driving" ng-model="$parent.isDriving" value="true">
                </label>
                <label ng-class="{true: 'verify-fast-unchecked', false: 'verify-fast-checked',undefined:'verify-fast-unchecked'}[$parent.isDriving]"
                       style="padding-left: 1rem">
                    <span>否</span>
                    <input type="radio" name="is_driving" ng-model="$parent.isDriving" value="false">
                </label>
            </div>
        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-label">5.是否有个人房产</label>
            <div class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-check-area">
                <label ng-class="{true: 'verify-fast-checked', false: 'verify-fast-unchecked',undefined:'verify-fast-unchecked'}[$parent.isHouse]">
                    <span>是</span>
                    <input type="radio" name="is_house" ng-model="$parent.isHouse" value="true">
                </label>
                <label ng-class="{true: 'verify-fast-unchecked', false: 'verify-fast-checked',undefined:'verify-fast-unchecked'}[$parent.isHouse]"
                       style="padding-left: 1rem">
                    <span>否</span>
                    <input type="radio" name="is_house" ng-model="$parent.isHouse" value="false">
                </label>
            </div>
        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-label">6.是否已婚</label>
            <div class="col-xs-1 app-bootstrap-padding-zero verify-fast-third-check-area">
                <label ng-class="{true: 'verify-fast-checked', false: 'verify-fast-unchecked',undefined:'verify-fast-unchecked'}[$parent.isMarry]">
                    <span>是</span>
                    <input type="radio" name="isMarry" ng-model="$parent.isMarry" value="true">
                </label>
                <label ng-class="{true: 'verify-fast-unchecked', false: 'verify-fast-checked',undefined:'verify-fast-unchecked'}[$parent.isMarry]"
                       style="padding-left: 1rem">
                    <span>否</span>
                    <input type="radio" name="isMarry" ng-model="$parent.isMarry" value="false">
                </label>
            </div>
        </div>
        <div class="app-white-input row app-margin-top-two-px">
            <label class="col-xs-12 app-bootstrap-padding-zero">6.每月收入</label>
        </div>


        <div class="app-white-input row">
            <div class="col-xs-12 app-bootstrap-padding-zero" style="font-size: 1.2rem;margin-top: 0.5rem">
                <div class="col-xs-12">
                    <label  ng-class="{true: 'verify-fast-radio-checked', false: 'verify-fast-radio-unchecked'}[$parent.monthlyIncome==0]">
                        <span>3千以下</span>
                        <input type="radio" name="monthly_income" ng-model="$parent.monthlyIncome" value="0" required>
                    </label>

                    <label ng-class="{true: 'verify-fast-radio-checked', false: 'verify-fast-radio-unchecked'}[$parent.monthlyIncome==1]"
                           style="padding-left: 1rem">
                        <span>3千-5千</span>
                        <input type="radio" name="monthly_income" ng-model="$parent.monthlyIncome" value="1" required>
                    </label>
                    <label ng-class="{true: 'verify-fast-radio-checked', false: 'verify-fast-radio-unchecked'}[$parent.monthlyIncome==2]"
                           style="padding-left: 1rem">
                        <span>5千-1万</span>
                        <input type="radio" name="monthly_income" ng-model="$parent.monthlyIncome" value="2" required>
                    </label>
                </div>

            </div>

            <div class="col-xs-12 app-bootstrap-padding-zero" style="font-size: 1.2rem">
                <div class="col-xs-12" style="margin-top: 2rem;margin-bottom: 1rem">
                    <label ng-class="{true: 'verify-fast-radio-checked', false: 'verify-fast-radio-unchecked'}[$parent.monthlyIncome==3]">
                        <span>1万-2万</span>
                        <input type="radio" name="monthly_income" ng-model="$parent.monthlyIncome" value="3" required>
                    </label>
                    <label ng-class="{true: 'verify-fast-radio-checked', false: 'verify-fast-radio-unchecked'}[$parent.monthlyIncome==4]"
                           style="padding-left: 1rem">
                        <span>2万以上</span>
                        <input type="radio" name="monthly_income" ng-model="$parent.monthlyIncome" value="4" required>
                    </label>
                </div>
            </div>

        </div>

        <label style="display: block;padding-bottom:  2rem">
            <div class="app-padding-one text-center"
                 ng-class="{true:'app-little-pink-radius-button',false:'app-pink-radius-button'}[!$parent.monthlyIncome]">
                提交
            </div>
            <button type="submit" style="display: none"></button>
        </label>

    </form>

</div>