<link href="modules/verify/css/verify.css" rel="stylesheet">

<div class="verify-index-background container">

    <div class="row text-center" style="height: 20%">
        <div class="col-xs-6" style="border-right: rgba(255,255,255,0.2) solid 2px">
            <div class="verify-index-title">
                信用额度(元)
            </div>
            <div class="verify-index-money">
                {{realLoanMoney | number:1}}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="verify-index-title">
                可用额度（元）
            </div>
            <div class="verify-index-money">
                {{availableMoney | number:1}}
            </div>
        </div>
    </div>

    <div class="row text-center" style="height: 80%">
        <div class="verify-index-modules-background" style="position:relative">
            <div class="col-xs-3 verify-index-modules-img">
                <img src="./modules/verify/img/fast-verify.png">
                <img src="modules/verify/img/verify-nopass.png" style="top: -22%;left: 0;position: absolute" ng-if="fastStatus == 2">
            </div>
            <div class="col-xs-9 text-left verify-index-modules-info">
                <div style="padding-left: 1rem" class="verify-index-modules-title">
                    极速认证<span class="verify-index-modules-pink-text">+100000元</span>(最高)
                </div>
                <div style="padding-left: 1rem" class="verify-index-modules-describe">
                    信用信息审核
                </div>
                <div class="verify-index-modules-get-cash" ng-class="{'1':'verify-color-little-pink','3':'verify-color-yellow'}[fastStatus]" ng-click="goToFastVerify(fastStatus)">
                    {{fastStatus | verifyStatus}}
                </div>
            </div>
        </div>

        <div class="verify-index-modules-background" style="position:relative">
            <div class="col-xs-3 verify-index-modules-img">
                <img src="./modules/verify/img/zm-verify.png">
                <img src="modules/verify/img/verify-nopass.png" style="top: -22%;left: 0;position: absolute" ng-if="zmStatus == 2">
            </div>
            <div class="col-xs-9 text-left verify-index-modules-info">
                <div style="padding-left: 1rem" class="verify-index-modules-title">
                    快速提额<span class="verify-index-modules-pink-text">+100000元</span>(最高)
                </div>
                <div style="padding-left: 1rem" class="verify-index-modules-describe">
                    芝麻信用授权
                </div>
                <div class="verify-index-modules-get-cash" ng-class="{'1':'verify-color-little-pink','3':'verify-color-yellow'}[zmStatus]" ng-click="goToZmVerify(zmStatus)">
                    {{zmStatus | verifyStatus}}
                </div>
            </div>
        </div>

        <div class="verify-index-modules-background" style="position:relative">
            <div class="col-xs-3 verify-index-modules-img">
                <img src="./modules/verify/img/taobao-verify.png">
                <img src="modules/verify/img/verify-nopass.png" style="top: -22%;left: 0;position: absolute" ng-if="businessStatus == 2">
            </div>
            <div class="col-xs-9 text-left verify-index-modules-info">
                <div style="padding-left: 1rem" class="verify-index-modules-title">
                    快速提额<span class="verify-index-modules-pink-text">+100000元</span>(最高)
                </div>
                <div style="padding-left: 1rem" class="verify-index-modules-describe">
                    电商信用授权
                </div>
                <div class="verify-index-modules-get-cash" ng-class="{'1':'verify-color-little-pink','3':'verify-color-yellow'}[businessStatus]" ng-click="goToTaobaoVerify(businessStatus)">
                    {{businessStatus | verifyStatus}}
                </div>
            </div>
        </div>

        <div class="verify-index-modules-background" style="position:relative">
            <div class="col-xs-3 verify-index-modules-img">
                <img src="./modules/verify/img/bank-verify.png">
                <img src="modules/verify/img/verify-nopass.png" style="top: -22%;left: 0;position: absolute" ng-if="bankStatus == 2">
            </div>
            <div class="col-xs-9 text-left verify-index-modules-info">
                <div style="padding-left: 1rem" class="verify-index-modules-title">
                    快速提额<span class="verify-index-modules-pink-text">+100000元</span>(最高)
                </div>
                <div style="padding-left: 1rem" class="verify-index-modules-describe">
                    银行流水认证
                </div>
                <div class="verify-index-modules-get-cash" ng-class="{'1':'verify-color-little-pink','3':'verify-color-yellow'}[bankStatus]" ng-click="goToBankVerify(bankStatus)">
                    {{bankStatus | verifyStatus}}
                </div>
            </div>
        </div>

    </div>

</div>