<link rel="stylesheet" href="modules/pay/css/pay.css">


<div class="container">
    <!--App bar For goods details-->
    <div class="row app-bar text-center">
        <div class="col-xs-2" style="width: 15%" ng-click="goBack()"><i class="fa fa-angle-left fa-2x"></i></div>
        <div class="col-xs-8 app-title-bar">确认订单</div>
    </div>
</div>

<div class="app-bootstrap-grey-bold-hr" style="margin-top: 3.6rem"></div>

<div class="container">

    <div class="row">
        <div class="col-xs-6 text-left" style="padding: 1rem">
            {{order.realNmae}}
        </div>
        <div class="col-xs-6 text-right app-blue-text" style="padding: 1rem;">
            {{order.telphone}}
        </div>
    </div>

</div>

<div class="app-bootstrap-grey-bold-hr"></div>

<div class="container">
    <div class="row app-project-container">
        <div class="col-xs-5">
            <img ng-src="{{order.hrefPic}}" width="100%" style="min-height: 5rem;">
        </div>
        <div class="col-xs-7 app-project-content">
            <div class="double-line index-hot-project-title">
                {{order.hotItemName}}
            </div>
            <!--<div class="single-line app-project-hospital">-->
                <!--华山整形医院-->
            <!--</div>-->
            <div class="col-xs-12 text-left app-project-price-area">
                <div class="col-xs-4 app-pink-text" style="padding: 0">
                    <span style="font-size: 1.2rem">￥</span><span
                        style="font-size: 2rem;line-height: 2.6rem">{{order.presentPrice}}</span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="app-bootstrap-grey-bold-hr"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 text-left app-padding-one">
            可用优惠券
        </div>
        <div class="col-xs-6 text-right app-padding-one">
            <span class="app-blue-text">1</span>张<i class="app-grey-text fa fa-angle-right fa-lg"
                                                    style="padding-left: 1rem"></i>
        </div>
    </div>
</div>

<div class="app-bootstrap-grey-bold-hr"></div>

<div class="container">
    <div class="row">

        <div class="col-xs-6 app-padding-one">
            首付
        </div>

        <div class="col-xs-6 text-right app-padding-one app-pink-text">
            ￥{{order.shoufuAmt}}
        </div>

    </div>

    <hr class="app-bootstrap-hr-no-match">

    <div class="row">

        <div class="col-xs-6 app-padding-one">
            信用支付
        </div>

        <div class="col-xs-6 text-right app-padding-one app-pink-text">
            ￥{{order.creditPayment}}
        </div>

    </div>

    <hr class="app-bootstrap-hr-no-match">

    <div class="row">

        <div class="col-xs-6 app-padding-one">
            月供
        </div>

        <div class="col-xs-6 text-right app-padding-one app-pink-text">
            ￥{{order.monthPay}}（{{order.staging}}期）
        </div>

    </div>

</div>

<div class="app-bootstrap-grey-bold-hr"></div>

<div class="container" style="margin-bottom: 6rem">

    <div class="row">

        <div class="col-xs-6 app-padding-one">
            订单总计
        </div>

        <div class="col-xs-6 text-right app-padding-one app-pink-text">
            ￥{{order.totalAmount}}
        </div>

    </div>

</div>


<div class="app-pink-bottom-bar" ng-click="choosePayWay()">

    <div style="width: 100%;float: left;background-color: #fb1787;color: #FFFFFF;margin: -0.6rem 0;height: 4.8rem;line-height: 4.8rem;text-align: center">
        立即支付
    </div>

</div>


<!--确认支付浮层弹出窗口-->
<div id="choosePayWayDialogContainer" class="app-grey-dialog-container">
    <div class="pay-choose-pay-way-radio-area">
        <div class="container" style="margin-bottom: 4.8rem">

            <div class="row">
                <div class="col-xs-9 app-padding-one text-left" style="font-size: 1.6rem;
                            line-height: 2.5rem">
                    使用第三方支付平台
                </div>
                <div class="col-xs-3 text-right app-padding-one app-pink-text" ng-click="closeChoosePayWayDialog()">
                    <img src="modules/pay/img/cancel.png"
                         style="width:1.6rem;padding-top: 0.5rem">
                </div>
            </div>

            <hr class="app-bootstrap-hr">

            <form>

                <label style="display: block">
                    <div class="row pay-choose-pay-way-dialog-row">
                        <div class="col-xs-6">
                            <img src="modules/pay/img/alipay.png" style="margin-right: 1rem">支付宝
                        </div>
                        <div class="col-xs-6 text-right">
                            <input ng-model="payWay" type="radio" ng-change="setAliPay()"
                                   value="alipay" checked="checked" style="display: none">
                            <img ng-src="{{alipayImg}}">
                        </div>
                    </div>
                </label>

                <hr class="app-bootstrap-hr">

                <label style="display: block">
                    <div class="row pay-choose-pay-way-dialog-row">
                        <div class="col-xs-6">
                            <img src="modules/pay/img/wxpay.png" style="margin-right: 1rem">微信支付
                        </div>
                        <div class="col-xs-6 text-right">
                            <input ng-model="payWay" type="radio" ng-change="setWxPay()"
                                   value="wxpay" style="display: none">
                            <img ng-src="{{wxpayImg}}">
                        </div>
                    </div>
                </label>

            </form>
        </div>
    </div>

    <div class="app-pink-bottom-bar" ng-click="goToPay()">
        <div style="width: 100%;float: left;background-color: #fb1787;color: #FFFFFF;margin-top: -0.6rem;height: 3.6rem;line-height: 3.6rem;text-align: center">
            立即支付
        </div>
        <div style="width: 100%;float: left;background-color: #fb1787;color: #FFFFFF;height: 1.2rem;line-height:0;text-align: center;font-size: 0.7rem">
            （支付：￥{{order.shoufuAmt}}）
        </div>
    </div>
</div>