<link rel="stylesheet" href="modules/treasure/css/treasure.css">

<div style="padding-bottom: 4.8rem;height: 100%">

    <div ng-include="'modules/treasure/tpl/index.html'" ng-controller="TreasureIndexCtrl"
         ng-show="pageStatus == 1"></div>
    <div ng-include="'modules/treasure/tpl/new.html'" ng-controller="TreasureNewCtrl" ng-if="pageStatus == 2" style="height: 100%"></div>
    <div ng-include="'modules/treasure/tpl/recharge.html'" ng-controller="TreasureRechargeCtrl" style="height: 100%"
         ng-if="pageStatus == 3"></div>
    <div ng-include="'modules/treasure/tpl/mine.html'" ng-controller="TreasureMineCtrl" style="height: 100%"
         ng-show="pageStatus == 4"></div>

</div>


<div class="container text-center treasure-tab-bar">

    <div class="row">

        <div class="col-xs-3 treasure-tab-bar-button" ng-class="{'treasure-pink-text': (pageStatus==1)}">
            <label>
                <div>
                    <img ng-if="pageStatus!=1"
                         src="modules/treasure/img/tabbar/home.png" style="width: 2rem;margin-bottom: .2rem">
                    <img ng-if="pageStatus==1"
                         src="modules/treasure/img/tabbar/homed.png" style="width: 2rem;margin-bottom: .2rem">
                </div>
                <span>首页</span>
                <input type="radio" ng-model="pageStatus" name="pageStatus" value="1">
            </label>
        </div>
        <div class="col-xs-3 treasure-tab-bar-button" ng-class="{'treasure-pink-text': (pageStatus==2)}">
            <label>
                <div>
                    <img ng-if="pageStatus!=2"
                         src="modules/treasure/img/tabbar/new.png" style="width: 2rem;margin-bottom: .2rem">
                    <img ng-if="pageStatus==2"
                         src="modules/treasure/img/tabbar/newed.png" style="width: 2rem;margin-bottom: .2rem">
                </div>
                <span>最新揭晓</span>
                <input type="radio" ng-model="pageStatus" name="pageStatus" value="2">
            </label>
        </div>
        <div class="col-xs-3 treasure-tab-bar-button" ng-class="{'treasure-pink-text': (pageStatus==3)}">
            <label>
                <div>
                    <img ng-if="pageStatus!=3"
                         src="modules/treasure/img/tabbar/recharge.png" style="width: 2rem;margin-bottom: .2rem">
                    <img ng-if="pageStatus==3"
                         src="modules/treasure/img/tabbar/recharged.png" style="width: 2rem;margin-bottom: .2rem">
                </div>
                <span>我要充值</span>
                <input type="radio" ng-model="pageStatus" name="pageStatus" value="3">
            </label>
        </div>
        <div class="col-xs-3 treasure-tab-bar-button" ng-class="{'treasure-pink-text': (pageStatus==4)}">
            <label>
                <div>
                    <img ng-if="pageStatus!=4"
                         src="modules/treasure/img/tabbar/mine.png" style="width: 2rem;margin-bottom: .2rem">
                    <img ng-if="pageStatus==4"
                         src="modules/treasure/img/tabbar/mined.png" style="width: 2rem;margin-bottom: .2rem">
                </div>
                <span>我的夺宝</span>
                <input type="radio" ng-model="pageStatus" name="pageStatus" value="4">
            </label>
        </div>

    </div>


</div>