.list-sort-bar-bottom-btn:hover {
    background: #9C9C00;
}

/*list*/
.list-sort-bar-border {
    border-top: #E8E8E8 solid 1px;
    border-bottom: #E8E8E8 solid 1px;
}

.list-sort-bar-pink {
    color: #FC58AE;
}

.list-sort-bar-toolbar {
    text-align: center;
    padding: 1rem;
    font-size: 1.1rem;
    position: fixed;
    top: 3.6rem;
    z-index: 999;
    background-color: #fff;
    width: 100%
}

.list-sort-bar-list-view {
    position: fixed;
    z-index: 666;
    height: 100%;
    width: 100%;
    left: 0;
    margin: 0;
    margin-top: 2.6rem;
}

.list-sort-bar-list-view-background {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.list-sort-bar-subject {
    background-color: #cccccc;
    height: 100%;
    text-align: left;
    overflow: scroll;
    padding: 0;
}

.list-sort-bar-subject div:hover {
    background-color: #F5F5F5;
    margin:0;
}

.list-sort-bar-items {
    height: 100%;
    text-align: left;
    overflow: scroll;
    background-color: #f5f5f5;
}

.list-sort-bar-city-radius-btn{
    margin: 0.5rem;
    background-color: #FFFFFF;
    padding: 1rem;
    border: 1px solid #999999;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    text-align: center;
}

.list-sort-bar-city-radius-btn:hover {
    background-color: #cccccc;
}
