<link href="modules/mine/css/mine.css" rel="stylesheet">

<div class="container">
    <div class="row mine-little-pink" style="padding-bottom: 1rem">
        <div class="app-padding-one">
            <div class="col-xs-2 text-left">

                <img src="modules/mine/img/pot.png" class="mine-pot">

                <img src="modules/mine/img/head1.jpg" class="mine-avatar">

            </div>
            <div class="col-xs-6 text-left" ng-click="callMmfq()">
                <div class="mine-name">
                    美眉分期
                </div>
                <div class="mine-verify-status">
                    客服电话：400-711-8898
                </div>
            </div>
            <div class="col-xs-4 text-right mine-verify" ng-click="logOut()">
                退出登录 <span class="fa fa-angle-right"></span>
            </div>
        </div>
    </div>

</div>