<div class="container app-grey-background-container">
    <form ng-submit="Login()">
        <div class="app-white-input row app-margin-top-one">
            <label class="col-xs-1 app-bootstrap-padding-zero app-white-input-label">密码</label>
            <input type="password" class="app-white-input-text" ng-model="password" placeholder="输入密码" style="width: 50%" id="passwordInput" required>
            <span class="app-white-input-label app-very-blue-text" style="font-size: 1.2rem"
                  ng-click="goToResetPassword()">忘记密码？</span>
        </div>
        <label style="display:block;">
            <div class="app-padding-one text-center" ng-class="{true:'app-little-pink-radius-button',false:'app-pink-radius-button'}[!password]">
                确认
            </div>
            <button type="submit" style="display: none;"></button>
        </label>
    </form>
</div>