<link rel="stylesheet" href="modules/order/css/order.css">


<div style="width: 100%;position: fixed;height:100%;left: 0;z-index: 999" ng-if="!stages  && !loadError">
    <div style="top: 50%;position: absolute;width: 100%;left: 45%;">
        <img src="img/loading/loadingOuter.png" class="fa fa-spin" style="width: 10%">
    </div>
    <div style="top: 50%;position: absolute;width: 100%;left: 45%;">
        <img src="img/loading/loadingInner.png" style="width: 10%">
    </div>
</div>


<div id="confirmDialogContainer" class="app-grey-dialog-container">
    <div class="order-confirm-dialog">
        <div class="container">
            <div class="order-confirm-dialog-title text-center">
                提示
            </div>
            <p style="padding-top:1rem">
                1、一般商品的计息规则：下单支付后，您在医院消费时，上传“和医院签署的知情同意书”至美眉平台，平台审核通过的当日开始计息。
            </p>
            <p style="padding-top: 1rem">
                2、特价商品的计息规则：下单支付后开始计息，特价商品不支持退款哦。
            </p>

            <div class="row text-center app-pink-text" style="font-size: 1.8rem;padding: 1rem" ng-click="goToPay()">
                确定
            </div>
        </div>
    </div>
</div>


<!--<div class="container">-->
<!--&lt;!&ndash;App bar For goods details&ndash;&gt;-->
<!--<div class="row app-bar text-center">-->
<!--<div class="col-xs-2" style="width: 15%" ng-click="goBack()"><img src="modules/order/img/cancel.png"-->
<!--style="width:1.6rem;padding-top: 0.5rem">-->
<!--</div>-->
<!--<div class="col-xs-8 app-title-bar">提交订单</div>-->
<!--</div>-->
<!--</div>-->


<div class="container" style="font-size: 1.2rem;padding-bottom: 5rem">

    <div class="row" style="padding: 1rem">

        <div class="col-xs-6 text-left">
            订单金额
        </div>

        <div class="col-xs-6 text-right app-pink-text">
            ￥{{total}}
        </div>

    </div>

    <hr class="app-bootstrap-hr-no-match">

    <div class="row" style="padding: 1rem">
        <label style="display: block;">
            <div class="col-xs-6 text-left">
                首付比例
                <select ng-model="selectedFirstRatio" class="app-pink-text order-first-pay-select"
                        ng-options="x.ratio +'%' for x in firstRatio" ng-change="getFenqiMode()">
                </select>
            </div>
            <div class="col-xs-6 text-right app-pink-text">
                ￥{{selectedMode.shoufu}}
            </div>
        </label>
    </div>

    <!--由于逻辑还未完全确定，优惠券延期，到时候需要使用的话，直接解开本处注释即可使用-->
    <!--<hr class="app-bootstrap-hr-no-match">-->


    <!--<div class="row" style="padding: 1rem" ng-click="chooseCoupon()">-->
    <!--<div class="col-xs-6 text-left">-->
    <!--可用优惠券-->
    <!--</div>-->
    <!--<div class="col-xs-6 text-right">-->
    <!--<span class="app-blue-text" ng-hide="selectedCoupon">1张</span>-->
    <!--<span class="app-blue-text" ng-show="selectedCoupon">-{{selectedCoupon}}元</span>-->
    <!--<i class="app-grey-text fa fa-angle-right fa-lg" style="padding-left: 1rem"></i>-->
    <!--</div>-->
    <!--</div>-->

    <hr class="app-bootstrap-hr-no-match">

    <div class="row" style="padding: 1rem" ng-hide="(selectedMode.shoufuId==100)">
        <div class="col-xs-12">
            选择分期
        </div>
    </div>

    <div class="row text-center" ng-hide="(selectedMode.shoufuId==100)">
        <label class="order-stage-choose" ng-repeat="x in stages" style="width: 100%;display: block">
            <input type="radio" ng-model="x.isSelectedStage" value="{{x.staging}}" class="order-stage-choose-input"
                   ng-checked="selectedStage == x.staging" ng-disabled="selectedStage == x.staging"
                   ng-change="updateStage(x)">
            <span class="col-xs-12">分{{x.staging}}月</span>
        </label>
    </div>

    <div class="row" style="padding: 1rem">
        <label style="display: block;">
            <div class="col-xs-1">
                <img src="modules/order/img/insurance-checked.png" style="width: 1.2rem" ng-show="isInsuranceBuy">
                <img src="modules/order/img/insurance-unchecked.png" style="width: 1.2rem" ng-hide="isInsuranceBuy">
            </div>
            <div class="col-xs-4">
                意外保险
            </div>
            <input type="checkbox" ng-model="isInsuranceBuy" style="display: none" ng-change="updateTotal()">
        </label>
        <div class="col-xs-6 text-right" ng-click="goToInsuranceIntroduce()">
            <img src="modules/order/img/question.png" style="width: 1rem">
        </div>
    </div>

    <div class="row text-center" ng-show="isInsuranceBuy">

        <label class="order-stage-choose" ng-repeat="x in insuranceAmount" style="width: 100%;display: block">
            <input type="radio" ng-model="x.isSelectedInsurance" value="{{x.price}}" class="order-stage-choose-input"
                   ng-checked="selectedInsurance == x.price" ng-disabled="selectedInsurance == x.price"
                   ng-change="updateInsurance(x)">
            <span class="col-xs-12">保险{{x.price}}元</span>
        </label>

    </div>

    <!--<div class="row" style="color: #666666">-->

    <!--<div class="col-xs-9" style="padding: 1rem">-->
    <!--<img src="modules/order/img/checked.png" style="width: 1rem">-->
    <!--<span style="padding-left: 1rem">貌美如花意外险(价值700元，赠送)</span>-->
    <!--</div>-->

    <!--<div class="col-xs-3 text-right" style="padding: 0.7rem">-->
    <!--<i class="fa fa-angle-right fa-2x"></i>-->
    <!--</div>-->

    <!--</div>-->

    <div class="row">
        <div class="app-bootstrap-grey-bold-hr"></div>
    </div>

    <!--<div class="row" style="padding-top: 2rem">-->
        <!--<div class="col-xs-6">-->
            <!--信用支付：<span class="app-blue-text">- ￥{{total  -  selectedMode.shoufu}}</span>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row" style="padding: 2rem 0">
        <div class="col-xs-9">
            月供：<span style="padding-left: 2rem"
                     class="app-pink-text"> ￥{{selectedMode.yuefu | number:2}}
            <!--（{{selectedStage}}期）-->
        </span>
        </div>
    </div>

    <!--<hr class="app-bootstrap-hr-no-match">-->

    <!--<div class="row text-center" style="padding: 1rem 0">-->
        <!--<div>支付成功后可获得<span style="color: #92d2ff">{{orderInfo.data.goodsStagingInfoResponse.integral | number:2}}</span>积分-->
        <!--</div>-->
    <!--</div>-->

</div>

<div class="app-pink-bottom-bar">

    <div style="width: 100%;float: left;background-color: #fb1787;color: #FFFFFF;margin: -0.6rem 0;height: 4.8rem;line-height: 4.8rem;text-align: center"
         ng-click="showConfirm()">
        立即下单
    </div>
</div>

<div class="container" style="z-index: 999;width: 100%;height: 100%;position: absolute;top: 0" ng-show="isChooseCoupon">
    <div class="row">
        <div style="width: 100%;position: absolute;background-color: #000;opacity: 0.3;height: 33%;top: 0"
             ng-click="closeCoupon()"></div>
        <div style="width: 100%;position: absolute;background-color: #fff;height: 7%;top: 33%">
            <div class="col-xs-6 app-padding-one" style="font-size: 1.2rem">选择优惠券</div>
            <div class="col-xs-6 text-right app-padding-one" ng-click="closeCoupon()">
                <img src="modules/pay/img/cancel.png" style="width: 1.2rem">
            </div>
        </div>
        <iframe id="ii" style="width: 100%;border: 0;position: absolute;bottom: 10%;height: 50%;"></iframe>
        <div ng-click="setCoupon()" class="text-center"
             style="width: 100%;border: 0;position: absolute;bottom: 0;height: 10%;background-color: #61C2FF;color: #fff;font-size: 1.6rem;">
            <div style="margin-top: 5%">{{couponBtn}}</div>
        </div>
    </div>
</div>
