<div ng-controller="OrderListCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-xs-9">
                <h1 class="m-n font-thin h3" style="font-size: 28px">订单列表</h1>
            </div>
            <div class="col-xs-3 text-right">
                <a ui-sref="app.order.diy">
                    <button class="btn btn-info">
                        自定义项目
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="wrapper-md b-b">
        <div class="row text-center">
            <div class="col-sm-6 col-xs-12"  style="border-right: 1px solid #333;">
                <div>总交易额(元)</div>
                <div class="h2 m-b-sm" style="color: #fb1787;">{{consultantData.total_amount | number:1}}</div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div>今日交易金额(元)</div>
                <div class="h2 m-b-sm" style="color: #fb1787;">{{consultantData.today_order_amount | number:1}}</div>
            </div>
        </div>
    </div>
    <div class="wrapper-md bg-light b-b">
        <div class="panel panel-default">
            <div class="panel-heading">
                订单列表
            </div>
            <div class="panel-body b-b b-light">
                <div class="col-xs-12 col-md-6">
                    搜索: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
                    <span style="color: #888;font-size: 12px">搜索姓名/手机号/项目/咨询师/订单号/状态/订单金额</span>
                </div>
                <div class="col-xs-12 col-md-6">
                    选择完成日期:
                    <input  type="date" ng-model="start_time" ng-change="updateDate()" class="form-control w-sm inline m-r"/>-
                    <input  type="date" ng-model="end_time" ng-change="updateDate()" class="form-control w-sm inline m-r"/>
                </div>
            </div>
            <div>
                <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="99999999">
                    <thead>
                    <tr>
                        <th data-toggle="true">
                            姓名
                        </th>
                        <th data-hide="phone,tablet">
                            手机号
                        </th>
                        <th>
                            项目名
                        </th>
                        <th>
                            咨询师
                        </th>
                        <th data-hide="phone,tablet">
                            订单金额
                        </th>
                        <th data-hide="phone,tablet">
                            订单号
                        </th>
                        <th data-hide="phone,tablet">
                            订单状态
                        </th>
                        <th data-hide="phone,tablet">
                            订单完成时间
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in data">
                        <td>{{x.name}}</td>
                        <td><a href>{{x.telphone}}</a></td>
                        <td>{{x.goodsName}}</td>
                        <td>{{x.userName}}</td>
                        <td>{{x.orderPrice}}</td>
                        <td>{{x.orderSn}}</td>
                        <td>{{x | orderStatus}}</td>
                        <td>{{x.finishedTime  | date:'yyyy-MM-dd'}}</td>
                    </tr>
                    </tbody>
                    <!--<tfoot class="hide-if-no-paging">-->
                    <!--<tr>-->
                        <!--<td colspan="0" class="text-center">-->
                            <!--<ul class="pagination"></ul>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</tfoot>-->
                </table>
            </div>
        </div>
    </div>
</div>
