<link rel="stylesheet" href="bower_components/Swiper/dist/css/swiper.min.css">
<link rel="stylesheet" href="modules/index/css/index.css">

<!--&lt;!&ndash;App bar For index&ndash;&gt;-->
<!--<div class="container">-->
    <!--<div class="row app-bar text-center">-->
        <!--<div style="margin: 0.6rem 0;padding:0;width: 20%;font-size: 1.3rem" class="col-xs-2 single-line"-->
             <!--ng-click="changeCity()">-->
            <!--{{cityName}}<i class="fa fa-angle-down" style="padding-left: 0.5rem"></i>-->
        <!--</div>-->
        <!--<div style="position: relative">-->
            <!--<img src="img/topbar/search-icon.png" class="app-bar-search-icon"-->
                 <!--style="left: 24%">-->
            <!--<form>-->
                <!--<input class="app-bar-search-frame col-xs-7" style="width: 65%" id="search" placeholder="瘦脸针"-->
                       <!--type="search" ng-keyup="search($event)" ng-model="searchContent">-->
            <!--</form>-->
            <!--<img src="img/topbar/qrcode-icon.png" class="app-bar-search-icon" ng-click="qrcode()"-->
                 <!--style="right: 20%;">-->
        <!--</div>-->
        <!--<img src="img/topbar/message-icon.png" style="width: 1.8rem;padding: 0.4rem 0">-->
    <!--</div>-->
<!--</div>-->
<div style="width: 100%;position: fixed;height:100%;left: 0;z-index:999" ng-if="!index.data  && !loadError">
    <div style="top: 45%;position: absolute;width: 100%;left: 45%">
        <img src="img/loading/loadingOuter.png" class="fa fa-spin" style="width: 10%">
    </div>
    <div style="top: 45%;position: absolute;width: 100%;left: 45%">
        <img src="img/loading/loadingInner.png" style="width: 10%">
    </div>
</div>


<!--PullToRefreshArea-->
<div>
    <div id="content" style="height: 100%;width: 100%">

        <div class="container">
            <div class="row">
                <!-- Swiper -->

                <!-- Banner -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" ng-repeat="x in index.data.showIndexResponse.advertisingLinkList"
                             on-finish-render-filters>
                            <img ng-src="{{x.linkHerPic}}" width="100%" height="20%" ng-click="jumpToActivity(x)">
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>

            </div>

            <!--Categories-->
            <div class="row">
                <div class="container">
                    <img class="index-kind-img"
                         ng-src="{{x.categoryHerPic}}" ng-click="jumpToList(x)" ng-repeat="x in index.data.showIndexResponse.itemCategoryList">
                </div>
            </div>

            <!--activities-->
            <div class="row">
                <div class="container index-activities-container">
                    <div class="row">
                        <div class="col-xs-6" style="padding-left: 0;padding-right: 5px" ng-click="jumpToActivity(x.themeZoneHerf)"
                             ng-repeat="x in index.data.showIndexResponse.themeZoneList | filter: {themeZoneType:4}">
                            <img ng-src="{{x.themeZoneHerPic}}" width="100%">
                        </div>
                        <div class="col-xs-6" style="padding-right: 0;padding-left: 5px">
                            <div class="col-xs-6" style="padding: 1px" ng-click="jumpToActivity(x.themeZoneHerf)"
                                 ng-repeat="x in index.data.showIndexResponse.themeZoneList | filter: {themeZoneType:1}">
                                <img ng-src="{{x.themeZoneHerPic}}" width="100%">
                            </div>
                            <div class="col-xs-6" style="padding: 1px" ng-click="jumpToActivity(x.themeZoneHerf)"
                                 ng-repeat="x in index.data.showIndexResponse.themeZoneList | filter: {themeZoneType:3}">
                                <img ng-src="{{x.themeZoneHerPic}}" width="100%">
                            </div>
                            <div class="col-xs-12" style="padding: 1px" ng-click="jumpToActivity(x.themeZoneHerf)"
                                 ng-repeat="x in index.data.showIndexResponse.themeZoneList | filter: {themeZoneType:2}">
                                <img ng-src="{{x.themeZoneHerPic}}" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--best recommend-->
            <div class="row" ng-click="jumpToRecommend()">
                <div class="container index-recommend-container">
                    <div class="row" style="background-color: #FFFFFF;padding: 1rem">
                        <div class="col-xs-6 text-left">精品推荐</div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-lg fa-angle-right"></i>
                        </div>
                    </div>
                    <hr class="app-bootstrap-hr">


                    <div class="row index-white-background">
                        <div class="col-xs-6 index-recommend-left-area">
                            <div class="col-xs-12 index-white-background" style="padding: 1rem 1.5rem">
                                <img src="modules/index/img/temp-set.png" width="100%">
                                <div class="single-line grey-text index-grey-middle-text">
                                    海薇玻尿酸 限时不限价
                                </div>
                                <div class="index-pink-background-white-label">
                                    月供最低只要456.00
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 index-recommend-right-area">
                            <div class="col-xs-12 index-white-background"
                                 style="padding: 1.25rem 1rem;margin-bottom: 1px">
                                <div class="col-xs-5 index-recommend-img">
                                    <img src="modules/index/img/temp-thumbnail.jpg" width="100%">
                                </div>
                                <div class="col-xs-7 index-recommend-text">
                                    <div class="double-line grey-text" style="height: 3rem">网红套餐玻尿酸</div>
                                    <div class="pink-text single-line">月供最低234起</div>
                                </div>
                            </div>
                            <div class="col-xs-12 index-white-background" style="padding: 1.25rem 1rem;margin-top: 1px">
                                <div class="col-xs-5 index-recommend-img">
                                    <img src="modules/index/img/temp-thumbnail.jpg" width="100%">
                                </div>
                                <div class="col-xs-7 index-recommend-text">
                                    <p class="double-line grey-text" style="height: 3rem">网红套餐玻尿酸</p>
                                    <p class="pink-text single-line">月供最低234起</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--hot projects-->
            <div class="row">
                <div class="container index-recommend-container">
                    <div class="row" style="background-color: #FFFFFF;padding: 1rem">
                        <div class="col-xs-6 text-left">热门项目</div>
                        <div class="col-xs-6 text-right">
                            <i class="fa fa-lg fa-angle-right"></i>
                        </div>
                    </div>
                    <hr class="app-bootstrap-hr">

                    <div ng-click="jumpToGoods('#/goods?goodsId='+x.goodsHerf)"
                         ng-repeat="x in index.data.showIndexResponse.goodsItemList" on-finish-render-filters-copy>
                        <div class="row app-project-container">
                            <div class="col-xs-5">
                                <img ng-src="{{x.goodsHerPic}}" width="100%">
                            </div>
                            <div class="col-xs-7 app-project-content">
                                <div class="double-line index-hot-project-title">
                                    {{x.hotItemName}}
                                </div>
                                <div class="single-line app-project-hospital">
                                    {{x.hospitalName}}
                                </div>
                                <div class="col-xs-12 text-left app-project-price-area">
                                    <div class="col-xs-4 app-pink-text" style="padding: 0">
                                        <span style="font-size: 1.2rem">￥</span><span
                                            style="font-size: 1.6rem;line-height: 2.6rem">{{x.presentPrice}}</span>
                                    </div>
                                    <div class="col-xs-4 text-left" style="padding: 0">
                                        <span class="grey-text app-project-original-price">￥{{x.marketPrice}}</span>
                                    </div>
                                    <div class="col-xs-4 text-center"
                                         style="padding: 0;font-size: 0.7rem;margin-top:0.5rem">
                                        <div class="col-xs-12" style="padding: 0;">
                                            <div class="app-project-yellow-background-radius col-xs-6">已售</div>
                                            <div class="app-project-yellow-text-radius col-xs-6">{{x.soldNumber}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="app-bootstrap-hr">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--PullToRefreshArea End-->
</div>