<link rel="stylesheet" href="modules/activities/graduation/css/graduation.css">

<div class="graduation-background">

    <div class="container">


        <!--App bar For Activities-->
        <div class="row app-bar text-center">
            <div class="col-xs-2" style="width: 15%" ng-click="goBack()"><i class="fa fa-angle-left fa-2x"></i></div>
            <div class="col-xs-8 app-title-bar">精彩毕业季</div>
        </div>


        <!--post-->
        <div class="row" style="margin-top: 3.6rem">
            <img src="modules/activities/graduation/img/poster.jpg" style="width: 100%">
        </div>

        <!--activitiesArea begin-->
        <!--title-->
        <div class="row">
            <div class="graduation-list-title">
                半永久妆
            </div>
        </div>
        <img src="modules/activities/graduation/img/1.png" style="width: 100%;padding: 1rem 0">
        <!--case-->

        <div class="row">
            <!--one case begin-->
            <div class="col-xs-6 text-center" style="padding-bottom: 1rem" ng-repeat="x in dansheng">
                <img ng-src="{{x.pic}}" style="width: 100%;" onclick="window.location.href='{{x.url}}'">
            </div>
            <!--one case end-->
        </div>

        <!--more-->


        <!--activitiesArea begin2-->
        <!--title-->
        <div class="row">
            <div class="graduation-list-title">
                美白
            </div>
        </div>
        <img src="modules/activities/graduation/img/2.png" style="width: 100%;padding: 1rem 0">
        <!--case-->

        <div class="row">
            <!--one case begin-->
            <div class="col-xs-6 text-center" style="padding-bottom: 1rem" ng-repeat="x in maomao">
                <img src="{{x.pic}}" style="width: 100%;" onclick="window.location.href='{{x.url}}'">
            </div>
            <!--one case end-->
        </div>


        <!--activitiesArea begin3-->
        <!--title-->
        <div class="row">
            <div class="graduation-list-title">
                祛痘祛斑
            </div>
        </div>
        <img src="modules/activities/graduation/img/3.png" style="width: 100%;padding: 1rem 0">
        <!--case-->

        <div class="row">
            <!--one case begin-->
            <div class="col-xs-6 text-center" style="padding-bottom: 1rem" ng-repeat="x in feirou">
                <img src="{{x.pic}}" style="width: 100%;" onclick="window.location.href='{{x.url}}'">
            </div>
            <!--one case end-->
        </div>

        <!--more-->


        <!--activitiesArea begin3-->
        <!--title-->
        <div class="row">
            <div class="graduation-list-title">
                瘦脸/肩/腿
            </div>
        </div>
        <img src="modules/activities/graduation/img/4.png" style="width: 100%;padding: 1rem 0">
        <!--case-->

        <div class="row">
            <!--one case begin-->
            <div class="col-xs-6 text-center" style="padding-bottom: 1rem" ng-repeat="x in feirou">
                <img src="{{x.pic}}" style="width: 100%;" onclick="window.location.href='{{x.url}}'">
            </div>
            <!--one case end-->
        </div>

        <!--more-->

        <!--activitiesArea begin3-->
        <!--title-->
        <div class="row">
            <div class="graduation-list-title">
                玻尿酸
            </div>
        </div>
        <img src="modules/activities/graduation/img/5.png" style="width: 100%;padding: 1rem 0">
        <!--case-->

        <div class="row">
            <!--one case begin-->
            <div class="col-xs-6 text-center" style="padding-bottom: 1rem" ng-repeat="x in feirou">
                <img src="{{x.pic}}" style="width: 100%;" onclick="window.location.href='{{x.url}}'">
            </div>
            <!--one case end-->
        </div>
        <!--more-->

    </div>

</div>