.order-list-sort-bar-list-view {
    position: fixed;
    z-index: 666;
    height: 100%;
    width: 100%;
    left: 0;
    margin: 0;
}
.order-list-sort-bar-list-view-background {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.order-list-sort-bar-subject {
    background-color: #FFFFFF;
    height: 100%;
    text-align: left;
    overflow: scroll;
    padding: 0;
}